body {
    font-family: "Palatino Linotype";
    background-color: white;
}
a{
    text-decoration: none;
    font-size: 13px;
}
ul{
    list-style: none;
}
.errorMessage{
    color: red;
    font-size: 10px;
}

/* LAYOUT */

header{
    height: 100px;
    background-color: #000;
    border-radius: 5px;
    width: 100%;
}

header #logo-cp2 img{
    width: 125px;
    border-radius-left: 5px;
    height: 100px;
}
header .main-menu ul li{
    display: inline-block;
    float: right;
    margin: 0 0 0 2px;
}
.main-menu{
    width: 15%;
    height: 100%;
    float: right;
    margin:0;
    padding: 0;
}
.title{
    width: 70%;
    height: 100%;
    float: left;
    margin: auto;
}

#logo-cp2{
    float:left;
    width: 15%;
}

.main-menu a{
    color: #FFF;
}
.main-menu #login{
    float:right;
}

.title h2{
    color: #FFF;
    font-size: 30px;
    font-family: Palatino Linotype;
    text-align: center;
}

.container {
    width: 100%;
    min-height: 430px;  
    overflow: auto;  
    margin-bottom: 20px;
}

/* FORMS */
.form{
    width: 75%;
    float: right;
}
.container h2{
    text-align: center;
    color: #C3C3C3;
}
.form.contact, .form.login, .form.comment, .form.data-table, .form.user, .form.diary{
    width: 100%;
}

.form ul{
    list-style: none;
    padding: 0;
}
.form #login-ul{
    width: 260px;
    margin: 65px auto;
}
.form #login-ul li{
    padding-bottom: 20px;
}
.form #login-ul li .row.error{
    height: 22px;
}
.form #contact-ul, #comment-ul, #inicial-user-ul{
    width: 360px;
    height: 100%;
    margin: 40px auto 0 auto;
}
.form #inicial-user-ul .row{
    padding: 5px;
}
.form #inicial-user-ul li{
    margin-bottom: 20px;
}
.form #contact-ul .row.code{
    padding-right: 140px;
}
.form fieldset ul li{
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
}

.form fieldset{
    margin: auto;
    width: 50%;
    height: 75%;
    margin-top: 10px;
    background-color: rgb(195,195,195);
}

.form fieldset h2{
    color: white;
    font-size: 30px;
    margin: auto;
    text-align: center; 
}

.form fieldset input[type="submit"]{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    float: right;
}

.form fieldset ul .textbox_login{
    float: right;
    width: 150px;
}
.form fieldset ul label{
    float: left;
}
.form fieldset div p{
    padding: 0;
    margin: 0;
}
.form fieldset .row input[type="text"]{
    margin-left: 5px;
}
.form h2{
    text-align: center;
}
.form dl {
    width: 40%;
    margin: 30px auto;

}
.form dl dt{
    text-align: center;
    background-color: #ddd;
    border: 1px solid #ddd;
}
.form dl dd{
    margin: 0;
    border: 1px dashed #F0F0F0;
}
.form dl dd input{
    margin: auto;
}
.form dl dt, .form dl dd{
    padding: 5px 0;
    border-radius: 5px;
}
.form dl .buttons{
    float: right;
}
.form .row.buttons{
    float: right;
}
.grid-view table.items{
    width: 80%;
}
.form .approved{
    color:green;
}

.form .reproved{
    color:red;
}

/* INDEX */
.user-painel{
    width: 45%;
    float: right;
    height: 100%;
}

.role-painel{
    width: 45%;
    float: right;
    margin-top: auto;
}

.role-painel dt, .user-painel dt{
    color: #808080;
    font-size: 25px;
}
.role-painel dt dl dd, .role-painel a, 
.user-painel a, .user-painel dt dl dd{
    font-size: 18px;
}
.data-table{
  width: 50%;
  border-collapse: collapse;
  color: #777;
  font-family: $font-regular;
}
table{
    margin: 20px auto;
    min-width: 80%;
}
.row{
    cursor: pointer;
    &:nth-child(even) {background: #f1f1f1;}
}
table thead{
    background: #ddd; 
    text-transform: uppercase;
    font-family: $font-withoutbold;
    cursor: default;
  }


table th a{
    text-decoration: none;
    color: #777;
}

table td, th{
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    vertical-align: middle;
    cursor: pointer; 

}
table .id{//.code-value{
    max-width: 60px;
  }
table .text-field{
    width: 50%;
    text-align: left;
}
table .column{
    width: 70%;
    text-align: left;
}
table.main1{@include background($blue);}
table.main2{@include background(#CCCCFF);}
table.main3{@include background(#33CCCC);}
}

.container .boletim-ul{
    height: 20%;
    margin: 0 auto 0 85px;
}
.container .boletim-ul li{
    display: inline-block;
    padding: 20px 50px;
    border: 1px solid #ddd;
    margin: auto;
}

.buttons input, button{
    background: green none repeat scroll 0% 0%;
    padding: 10px;
    margin-right: 40px;
    border-radius: 5px;
    border: 2px solid green;
}
button{
    margin: 0;
}
/*MENU LATERAL */
.container .portlet{
    width: 20%;
    border-radius: 5px;
    border: 2px solid #ddd;
    height: 150px;
    float: left;
}
.containet .portlet .portlet-decoration{
    width: 0;
    height: 0;
}
.container .portlet .portlet-container{
    float: left;
    height: 100%;
    width: 100%;
}
.container .portlet ul li:last-child{
    border: none;
}
.container .portlet .portlet-title{
    text-align: center;
    color: #808080;
    font-size: 20px;
}
.container .portlet ul{
    margin: 0;
    padding: 0;
}
.container .portlet ul li{
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
/* SHOW */
.list-view{
    width: 70%;
    margin:auto;
    float: right;
    margin-top: 0;
}
.list-view .summary{
    width: 10%;
    float: right;
    height: 100%;
}
.list-view .view{
    width: 80%;
}
.container h1{
    text-align: center;
    color: #808080;
}
.container .span-19, .container .span-15.last, .container .sidebar{
    width: 20%;

}
.user-index{

}

.menu-opcoes{
    float:right;
}
.menu-opcoes a{
    font-size:22px;
    margin-right: 40px;
}

.lista-turmas{
    font-size: 15px; 
    border: 1px solid gray;
}


/* FOOTER */
footer{
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
footer p{
    width: 30%;
    color: white;
    float: left;
    padding: 0;
    margin-left: 10px;
}
footer ul{
    width: 15%;
    float: right;
}
footer ul li{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}