body {
    font-family: "Palatino Linotype";
    background-color: white;
}
a{
    text-decoration: none;
    font-size: 13px;
}
ul{
    list-style: none;
}
.errorMessage{
    color: red;
    font-size: 10px;
}

/* LAYOUT */

header{
    height: 100px;
    background-color: #000;
    border-radius: 5px;
    width: 100%;
}

header #logo-cp2 img{
    width: 125px;
    border-radius-left: 5px;
    height: 100px;
}
header .main-menu ul li{
    display: inline-block;
    float: right;
    margin: 0 0 0 2px;
}
.main-menu{
    width: 15%;
    height: 100%;
    float: right;
    margin:0;
    padding: 0;
}
.title{
    width: 70%;
    height: 100%;
    float: left;
    margin: auto;
}

#logo-cp2{
    float:left;
    width: 15%;
}

.main-menu a{
    color: #FFF;
}
.main-menu #login{
    float:right;
}

.title h2{
    color: #FFF;
    font-size: 30px;
    font-family: Palatino Linotype;
    text-align: center;
}

.container {
    width: 100%;
    height: 430px;  
    overflow: auto;  
}
/* FORMS */

#loginForm ul{
    list-style: none;
    width: 260px;
    margin: 65px auto;
    padding: 0;
}

#loginForm ul li{
    display: block;
    padding: 5px 0 5px 0;
}

#loginForm fieldset{
    margin: auto;
    width: 50%;
    height: 75%;
    margin-top: 10px;
    background-color: rgb(195,195,195);
}

#loginForm fieldset h2{
    color: white;
    font-size: 30px;
    margin: auto;
    text-align: center; 
}

#loginForm fieldset input[type="submit"]{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    float: right;
}

#loginForm fieldset ul .textbox_login{
    float: right;
    width: 150px;
}
#lofinForm fieldset ul label{
    float: left;
}

/* INDEX */
.user-painel{
    width: 45%;
    float: right;
    height: 100%;
}

.role-painel{
    width: 45%;
    float: right;
    margin-top: auto;
}

.role-painel dt, .user-painel dt{
    color: #808080;
    font-size: 25px;
}
.role-painel dt dl dd, .role-painel a, 
.user-painel a, .user-painel dt dl dd{
    font-size: 18px;
}
.data-table{
  width: 100%;
  border-collapse: collapse;
  color: #777;
  font-family: $font-regular;
}
table{
    margin: 20px auto;
}
.row{
    cursor: pointer;
    &:nth-child(even) {background: #f1f1f1;}
}
table thead{
    background: #ddd; 
    text-transform: uppercase;
    font-family: $font-withoutbold;
    cursor: default;
  }
table th a{
    text-decoration: none;
    color: #777;
}

table td, th{
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    vertical-align: middle;
    cursor: pointer; 

}
table .id{//.code-value{
    max-width: 60px;
  }
table .text-field{
    width: 50%;
    text-align: left;
}
table .column{
    width: 70%;
    text-align: left;
}
table.main1{@include background($blue);}
table.main2{@include background(#CCCCFF);}
table.main3{@include background(#33CCCC);}
}

.container .boletim-ul{
    height: 20%;
    margin: 0 auto 0 85px;
}
.container .boletim-ul li{
    display: inline-block;
    padding: 20px 50px;
    border: 1px solid #ddd;
    margin: auto;
}

.buttons input{
    background: green none repeat scroll 0% 0%;
    padding: 10px;
    margin-right: 40px;
    border-radius: 5px;
    border: 2px solid green;
}

/* SHOW */
.list-view{
    width: 100%;
    margin:auto;
    float: right;
}
.container h1{
    text-align: center;
}
.container .span-19, .container .span-15.last, .container .sidebar{
    width: 20%;

}
.user-index{

}
/* FOOTER */
footer{
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
footer p{
    width: 30%;
    color: white;
    float: left;
    padding: 0;
    margin-left: 10px;
}
footer ul{
    width: 15%;
    float: right;
}
footer ul li{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}