body {
    font-family: "Palatino Linotype";
    background-color: white;
}
a{
    text-decoration: none;
    font-size: 13px;
}
ul{
    text-decoration: none;
}

/* LAYOUT */

header{
    height: 100px;
    background-color: #000;
    border-radius: 5px;
    width: 100%;
}

header #logo-cp2 img{
    width: 125px;
    border-radius-left: 5px;
    height: 100px;
}
header .main-menu ul li{
    display: inline-block;
    float: right;
    margin: 0 0 0 2px;
}
.main-menu{
    width: 15%;
    height: 100%;
    float: right;
    margin:0;
    padding: 0;
}
.title{
    width: 70%;
    height: 100%;
    float: left;
    margin: auto;
}

#logo-cp2{
    float:left;
    width: 15%;
}

.main-menu a{
    color: #FFF;
}
.main-menu #login{
    float:right;
}

.title h2{
    color: #FFF;
    font-size: 30px;
    font-family: Palatino Linotype;
    width: 21%;
    margin: 30px auto;
    height: 100%
}

.container {
    width: 100%;
    height: 430px;    
}
/* FORMS */
fieldset{
    background-color: rgb(195,195,195);
}
#loginForm ul{
    list-style: none;
    width: 260px;
    margin: 45px auto;
    padding: 0;
}

#loginForm ul li{
    display: block;
}

#login-buton{
    margin-left: 58%;
}

#loginForm fieldset{
    margin: auto;
    width: 50%;
    height: 75%;
    margin-top: 10px;
}
#loginForm fieldset input[type="submit"]{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-left: 382px;
}

#loginForm fieldset .textbox_login{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 150px;
}

/* TABLES */

.data-table{
  width: 100%;
  border-collapse: collapse;
  color: #777;
  font-family: $font-regular;
}
table{
    margin: 30px auto;
}
.row{
    cursor: pointer;
    &:nth-child(even) {background: #f1f1f1;}
}
table thead{
    background: #ddd; 
    text-transform: uppercase;
    font-family: $font-withoutbold;
    cursor: default;
  }
table th a{
    text-decoration: none;
    color: #777;
}

table td, th{
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;
    cursor: pointer; 

}
table .id{//.code-value{
    max-width: 60px;
  }
table .text-field{
    width: 50%;
    text-align: left;
}
table .column{
    width: 70%;
    text-align: left;
}
table.main1{@include background($blue);}
table.main2{@include background(#CCCCFF);}
table.main3{@include background(#33CCCC);}
}

/* INDEX */
.user-painel{
    width: 50%;
    float: right;
    background-color: rgb(195,195,195);
    height: 100%;
}

.role-painel{
    width: 50%;
    float: left;
}
.user-painel ul{
    text-decoration: none;
    list-style: none;
    display: block;
    height: 20%;
}
.user-painel ul li{
    color: gray;
    float: left;
    display: block;
}

/* FOOTER */
footer{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
footer p{
    width: 30%;
    color: white;
    float: left;
    padding: 0;
    margin-left: 10px;
}
